<a href="#/photos/<%= photo.id %>">
  <img class="photostream-image"
       src="<%= photo.escape("image_url") %>"/></a>
<nav class="photo-info group">
  <img class="photostream-image-profile-pic" src="<%= user.escape("avatar") %>" />
  <ul class="photo-user-info">
    <li>
    <%= photo.escape("f_name") %> <%= photo.escape("l_name") %>
    </li>
    <li>
      <%= photo.escape("title") %>
    </li>
  </ul>
  <ul class="photo-stats group">
    <li>
      <div class="photo-num-likes">

      </div>
    </li>
    <li>
      <p>
        <%= photo.escape("num_faves") %>
      </p>
    </li>
    <li>
      <div class="photo-num-comments">

      </div>
    </li>
    <li>
      <p>
        <%= photo.escape("num_comments") %>
      </p>
    </li>
  </ul>
</nav>
