<div class="photo-show-eighty-wrapper">
  <img class="photo-show-image"
        src="<%=photo.escape("image_url")%>"/>
</div>

  <nav class="photo-show-nav group">
    <ul>
      <li><a href="#">back to photostream</a></li>
      <% if (photo.get("author_id")) { %>
        <% if (photo.get("author_id").id == Capstone.Models.currentUser.id) { %>
          <li class="delete-photo-button">
            <div class="delete-photo-button-pic">

            </div>
          </li>
        <%  } %>
      <%  } %>
      <li class="favorite-button">
        <div class="favorite-button-pic">

        </div>
      </li>
    </ul>
  </nav>

  <div class="photo-show-info-wrapper">
    <div class="photo-show-eighty group">
      <div class="photo-show-info group">

        <div class="photo-show-profile-pic">
          <img src="<%= photo.escape("author_avatar") %>" alt="profile pic"/>
        </div>

        <ul>
          <li>
            <%= photo.escape("f_name") %> <%= photo.escape("l_name") %>
            <button class="follow-button">+ follow</button>
          </li>
          <% if (photo.get("author_id")) { %>
            <% if (Capstone.Models.currentUser.id == photo.get("author_id").id) { %>
                <li class="photo-show-title edit-title">
                  <p>
                    <%= photo.escape("title") %>
                  </p>
                </li>
              <% } else { %>
                <li class="photo-show-title">
                  <p>
                    <%= photo.escape("title") %>
                  </p>
                </li>
              <%  } %>
            <%  } %>

          <% if (photo.get("author_id")) { %>
            <% if ((photo.escape("description") === "") && (Capstone.Models.currentUser.id == photo.get("author_id").id)) { %>
              <li class="add-a-description re-add-description">
                <p>
                  add a description
                </p>
              </li>
            <%  } else if (Capstone.Models.currentUser.id == photo.get("author_id").id) { %>
              <li class="add-a-description re-add-description">
                <p>
                  <%= photo.escape("description") %>
                </p>
              </li>
            <%  } else { %>
              <li>
                <p>
                  <%= photo.escape("description") %>
                </p>
              </li>
          <%    } %>
          <%  } %>
        </ul>
      </div>
      <ul class="photo-comments-wrapper group">

      </ul>
      <div class="new-comment-form group">

      </div>
    </div>
  </div>
